@import url(./styles.css);
@import "_variables";
header{
    font-family: $fuente;
    display: flex;
    .navbar{
        display: flex;
        width: 100%;
        padding: 0;
        .logo-b {
            height: 80px;
            width: 80px;
            margin-left: 3rem;
            grid-column: 2 / 3;
        }
        .menu-contacto {
            grid-column: 4 / 7;
            display: flex;
        }
        .menu-bar-b {
            display: none;
        }
        .social-b {
            grid-column: 10 / 10;
            justify-content: flex-end;
            margin-right: 2rem;
            i{
                margin: 8px;
            }
        }
    }
}
.bootstrap{
    font-family: $fuente;
    .contacto{
        margin-top: 9rem;
    }
}

.contacto{
    height: 60vh;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 560px){
    .header{
        .navbar{
            .menu-contacto{
                display: grid;
                width: 30%;
                transform: translateX(230%);
                padding-left: 0;
                li {
                    list-style: none;
                    a{
                        color: #181818;
                        font-size: 1rem;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    a:hover {
                        color: white;
                    }
                }
            }
            .visible{
                opacity: 1;
                visibility: visible;
            }
            .menu-bar-b{
                display: block;
            }
            
        }
    }
    .bootstrap{
        .contacto{
            margin-top: 1rem;
        }
    }
}


