@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url(./);
@import "_variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente;
    /* seccion N A V */
    .navbar {
        background-color: $color-secundario;
        display: flex;
        width: 100%;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        color: white;
        position:fixed;
        z-index: 50;
        a{
            .logo {
                height: 80px;
                width: 80px;
                margin-left: 3rem ;
            }
            .logo-b {
                height: 80px;
                width: 80px;
                margin-left: 2rem;
            }
        }
        .menu {
            grid-column: 4 / 7;
            display: flex;
        }
        ul li {
            margin-right: 3em;
            list-style: none;
            a {
                text-decoration: none;
                color: white;
                cursor: pointer;
                &:hover{
                    color: $color-primario;
                }
            }
        }
        .menu-contacto{
            grid-column: 4 / 7;
            display: flex;
        }
        .menu-bar,
        .menu-bar-b {
            display: none;
        }
        .social {
            margin: 0 1rem;
            justify-content: flex-end;
            i{
                margin: 8px;
            }
            a {
                text-decoration: none;
                color: white;
                cursor: pointer;
            }
            a:hover {
                color: $color-primario;
            }
        }
        .social-b {
            grid-column: 10 / 10;
            justify-content: flex-end;
            margin-right: 2rem;
            i{
                margin: 8px;
            }
            a {
                text-decoration: none;
                color: white;
                cursor: pointer;
            }
            a:hover {
                color: $color-primario;
            }
        }
    }
    /* seccion Hero */
    .hero {
        height: 100vh;
        background-image: linear-gradient(rgba(16, 16, 16, .3), rgba(16, 16, 16, .2)) , url(../images/Duendes-Campeones-2021-Foto-Tribuna.jpg);
        background-size:cover;
        background-position: bottom;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(8, 1fr);
        position: relative;
        .info-content {
            grid-column: 3 / 9;
            grid-row: 3 / 7;
            color: #fff;
            z-index: 1;
            text-align: center;
            h3 {
                font-family: 'Poltawski Nowy', serif;
                font-size: 3.5rem;
            }
            h1 {
                font-size: 4rem;
                color: $color-primario;
            }
        }
    }
    /* seccion Seccion 1 */
    #noticias{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        height: 100vh;
        position: relative;
        justify-content: space-around;
        h2{
            grid-column: 2 / 3;
            padding-top: 3rem;
            height: 25vh;
            text-align: center;
            font-size: 2.3rem;
        }
        .noticia-1,
        .noticia-2,
        .noticia-3{
            grid-row: 2 / 7;
            display: grid;
            width: 55vh;
            img{
                width: 100%;
                grid-row: 1 / 3;
            }
        }
        
    }
    /* seccion Seccion 2 */
    #publicidad{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 100%;
        height: 100%;
        .video{
            grid-column: 1 / 2;
            margin-left: 3rem;
        }
        .sponsors{
            grid-column: 2 / 2;
            text-align: center;
            display: block;
            width: 50%;
            margin: auto;
            h2{
                margin-bottom: 2.5rem;
                font-size: 1.8rem;
            }
            img{
                width: 12rem;
                height: 8rem;
                display: table-column;
                margin: auto;
            }
        }
    }
    /* Footer */
    footer{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 100%;
        background-color: $color-secundario;
        align-items: center;
        .logo{
            width: 150px;
            height: 150px;
            grid-column: 1 / 1;
            display: flex;
            margin: 2rem 3rem;
        }
        .informacion{
            grid-column: 3 / 4;
            font-size: .7rem;
            justify-content: center;
            h2{
                color: white;
                padding: .5rem 0;
            }
            h3{
                color:darkgray;
            }
        }
        .redes{
            grid-column: 5 / 5;
            color: white;
            text-align: center;
            margin-right: 2rem;
            a{
                color: white;
                margin: 1rem;
            }
            h2{
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
        }
        /* Footer Contacto*/
        .logo-contacto{
            width: 150px;
            height: 150px;
            grid-column: 1 / 1;
            display: flex;
            margin: 2rem 3rem;
        }
        .informacion-b{
            width: 200px;
            grid-column: 3 / 4;
            justify-content: center;
            font-family: $fuente;
            h2{
                color: white;
                font-size: 1.2rem;
            }
            h3{
                color:darkgray;
                font-size: 1rem;
            }
        }
        .redes-contacto{
            grid-column: 5 / 5;
            color: white;
            text-align: center;
            margin-right: 2rem;
            font-family: $fuente;
            a{
                color: white;
                margin: 1rem;
            }
            h2{
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
        }
    }
}

/*MOVILE INICIO */
@media (max-width: 600px){
body{
    .navbar {
        background-color: $color-primario;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        position: relative;
        .logo,
        .logo-b {
            height: 60px;
            width: 60px;
            grid-column: 2 / 3;
        }
        .menu,
        .menu-contacto {
            display: grid;
            grid-column: 4 / 7;
            position: absolute;
            width: 100%;
            height: 70vh;
            align-items: center;
            background-color: $color-primario;
            transition: all 1s;
            margin-top: 34em;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
        }
        .visible{
            opacity: 1;
            visibility: visible;
        }
        .menu {
            transform: translateX(60%);
        }
        
        ul li {
            margin-right: 3rem;
            list-style: none;
            margin: 0 auto;
            a {
                text-decoration: none;
                color: white;
                cursor: pointer;
                color: #181818;
                font-size: 1rem;
            }
            a:hover {
                color: white;
            }
        }
        .menu-bar,
        .menu-bar-b {
            display: block;
            .menu-bar .fas,
            .menu-bar-b .fas {
                color: #181818;
            }
        }
        .menu-bar {
            grid-column: 8 / 10;
            color: #fff;
            font-size: 2em;
            cursor: pointer;
            z-index: 1;
        }
        .menu-bar-b {
            grid-column: 8 / 10;
            color: #fff;
            font-size: 2em;
            cursor: pointer;
            z-index: 1;
            margin-right: 1.6rem;
        }
        .social,
        .social-b{
            display: none;
        }
    }
    .hero{
        .info-content{
            display: flex;
            flex-direction: column;
            h1{
                font-size: 2.5rem;
                padding-top: 2rem;
            }
            h3{
                font-size: 2rem;
                padding-top: 1rem;
            }
        }
    }
    #noticias{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        h2{
            font-size: 1.5rem;
            height: 5rem;
        }
        .noticia-2,
        .noticia-3{
            margin-top: 2rem;
        }
    }
    #publicidad{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        .video{
            display: none;
            flex-direction: column;
        }
        .sponsors{
            padding: 0;
            h2{
                font-size: 1rem;
                margin: 2rem 0 .8rem 0;
            }
            .sponsors-img{
                img{
                    width: 6rem;
                    height: 5rem;
                }
            } 
        }
    }
    
    .footer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .logo{
            height: 70px;
            width: 70px;
        }
        .informacion{
            font-size: .3rem;
        }
        .redes{
            h2{
                font-size: .4rem;
            }
            a{
                font-size: .5rem;
            }
        }
    }
    .footer-contacto{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo-contacto{
            height: 70px;
            width: 70px;
            margin: 2rem 1.5rem;
        }
        .informacion-b{
            width: 150px;
            h2,
            h3{
                font-size: .5rem;
            }
        }
        .redes-contacto{
            justify-content: space-between;
            margin-bottom: 0;
            h2{
                font-size: .4rem;
            }
            a{
                font-size: .5rem;
            }
        }
    }
}
}

@media (min-width: 600px) and (max-width: 960px) {
    body{
        .navbar{
            display: flex;
            width: 100%;
            align-items: center;
            margin: auto;
            justify-content: center;
            .logo{
                margin-right: 1rem;
            }
            .social,
            .social-b{
                display: none;
            }
        }
        .hero{
            display: flex;
            width: 100%;
            .info-content{
                margin: auto;
            }
        }
        #noticias{
            display: flex;
            flex-direction: column;
            align-items: center;
            .noticia-1,
            .noticia-2,
            .noticia-3{
                margin-top: 2rem    ;
            }
        }
        #publicidad{
            width: 100%;
            margin-top: 100rem;
            display: flex;
            flex-direction: column;
            .video{
                display: none;
            }
            .sponsors{
                padding: 0;
                align-items: center;
                .sponsors-img{
                    display: flex;
                    margin-bottom: 3rem;
                    img{
                        width: 8rem;
                        height: 6rem;
                    }
                }
            }
    }
    
}}
