@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url(./);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poltawski Nowy", serif;
  /* seccion N A V */
  /* seccion Hero */
  /* seccion Seccion 1 */
  /* seccion Seccion 2 */
  /* Footer */
}
body .navbar {
  background-color: #000;
  display: flex;
  width: 100%;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  color: white;
  position: fixed;
  z-index: 50;
}
body .navbar a .logo {
  height: 80px;
  width: 80px;
  margin-left: 3rem;
}
body .navbar a .logo-b {
  height: 80px;
  width: 80px;
  margin-left: 2rem;
}
body .navbar .menu {
  grid-column: 4/7;
  display: flex;
}
body .navbar ul li {
  margin-right: 3em;
  list-style: none;
}
body .navbar ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
body .navbar ul li a:hover {
  color: #3da407;
}
body .navbar .menu-contacto {
  grid-column: 4/7;
  display: flex;
}
body .navbar .menu-bar,
body .navbar .menu-bar-b {
  display: none;
}
body .navbar .social {
  margin: 0 1rem;
  justify-content: flex-end;
}
body .navbar .social i {
  margin: 8px;
}
body .navbar .social a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
body .navbar .social a:hover {
  color: #3da407;
}
body .navbar .social-b {
  grid-column: 10/10;
  justify-content: flex-end;
  margin-right: 2rem;
}
body .navbar .social-b i {
  margin: 8px;
}
body .navbar .social-b a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
body .navbar .social-b a:hover {
  color: #3da407;
}
body .hero {
  height: 100vh;
  background-image: linear-gradient(rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 0.2)), url(../images/Duendes-Campeones-2021-Foto-Tribuna.jpg);
  background-size: cover;
  background-position: bottom;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
}
body .hero .info-content {
  grid-column: 3/9;
  grid-row: 3/7;
  color: #fff;
  z-index: 1;
  text-align: center;
}
body .hero .info-content h3 {
  font-family: "Poltawski Nowy", serif;
  font-size: 3.5rem;
}
body .hero .info-content h1 {
  font-size: 4rem;
  color: #3da407;
}
body #noticias {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: space-around;
}
body #noticias h2 {
  grid-column: 2/3;
  padding-top: 3rem;
  height: 25vh;
  text-align: center;
  font-size: 2.3rem;
}
body #noticias .noticia-1,
body #noticias .noticia-2,
body #noticias .noticia-3 {
  grid-row: 2/7;
  display: grid;
  width: 55vh;
}
body #noticias .noticia-1 img,
body #noticias .noticia-2 img,
body #noticias .noticia-3 img {
  width: 100%;
  grid-row: 1/3;
}
body #publicidad {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  height: 100%;
}
body #publicidad .video {
  grid-column: 1/2;
  margin-left: 3rem;
}
body #publicidad .sponsors {
  grid-column: 2/2;
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
}
body #publicidad .sponsors h2 {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}
body #publicidad .sponsors img {
  width: 12rem;
  height: 8rem;
  display: table-column;
  margin: auto;
}
body footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  background-color: #000;
  align-items: center;
  /* Footer Contacto*/
}
body footer .logo {
  width: 150px;
  height: 150px;
  grid-column: 1/1;
  display: flex;
  margin: 2rem 3rem;
}
body footer .informacion {
  grid-column: 3/4;
  font-size: 0.7rem;
  justify-content: center;
}
body footer .informacion h2 {
  color: white;
  padding: 0.5rem 0;
}
body footer .informacion h3 {
  color: darkgray;
}
body footer .redes {
  grid-column: 5/5;
  color: white;
  text-align: center;
  margin-right: 2rem;
}
body footer .redes a {
  color: white;
  margin: 1rem;
}
body footer .redes h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
body footer .logo-contacto {
  width: 150px;
  height: 150px;
  grid-column: 1/1;
  display: flex;
  margin: 2rem 3rem;
}
body footer .informacion-b {
  width: 200px;
  grid-column: 3/4;
  justify-content: center;
  font-family: "Poltawski Nowy", serif;
}
body footer .informacion-b h2 {
  color: white;
  font-size: 1.2rem;
}
body footer .informacion-b h3 {
  color: darkgray;
  font-size: 1rem;
}
body footer .redes-contacto {
  grid-column: 5/5;
  color: white;
  text-align: center;
  margin-right: 2rem;
  font-family: "Poltawski Nowy", serif;
}
body footer .redes-contacto a {
  color: white;
  margin: 1rem;
}
body footer .redes-contacto h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

/*MOVILE INICIO */
@media (max-width: 600px) {
  body .navbar {
    background-color: #3da407;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    position: relative;
  }
  body .navbar .logo,
  body .navbar .logo-b {
    height: 60px;
    width: 60px;
    grid-column: 2/3;
  }
  body .navbar .menu,
  body .navbar .menu-contacto {
    display: grid;
    grid-column: 4/7;
    position: absolute;
    width: 100%;
    height: 70vh;
    align-items: center;
    background-color: #3da407;
    transition: all 1s;
    margin-top: 34em;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  body .navbar .visible {
    opacity: 1;
    visibility: visible;
  }
  body .navbar .menu {
    transform: translateX(60%);
  }
  body .navbar ul li {
    margin-right: 3rem;
    list-style: none;
    margin: 0 auto;
  }
  body .navbar ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    color: #181818;
    font-size: 1rem;
  }
  body .navbar ul li a:hover {
    color: white;
  }
  body .navbar .menu-bar,
  body .navbar .menu-bar-b {
    display: block;
  }
  body .navbar .menu-bar .menu-bar .fas,
  body .navbar .menu-bar .menu-bar-b .fas,
  body .navbar .menu-bar-b .menu-bar .fas,
  body .navbar .menu-bar-b .menu-bar-b .fas {
    color: #181818;
  }
  body .navbar .menu-bar {
    grid-column: 8/10;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
  }
  body .navbar .menu-bar-b {
    grid-column: 8/10;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
    margin-right: 1.6rem;
  }
  body .navbar .social,
  body .navbar .social-b {
    display: none;
  }
  body .hero .info-content {
    display: flex;
    flex-direction: column;
  }
  body .hero .info-content h1 {
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  body .hero .info-content h3 {
    font-size: 2rem;
    padding-top: 1rem;
  }
  body #noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  body #noticias h2 {
    font-size: 1.5rem;
    height: 5rem;
  }
  body #noticias .noticia-2,
  body #noticias .noticia-3 {
    margin-top: 2rem;
  }
  body #publicidad {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  body #publicidad .video {
    display: none;
    flex-direction: column;
  }
  body #publicidad .sponsors {
    padding: 0;
  }
  body #publicidad .sponsors h2 {
    font-size: 1rem;
    margin: 2rem 0 0.8rem 0;
  }
  body #publicidad .sponsors .sponsors-img img {
    width: 6rem;
    height: 5rem;
  }
  body .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  body .footer .logo {
    height: 70px;
    width: 70px;
  }
  body .footer .informacion {
    font-size: 0.3rem;
  }
  body .footer .redes h2 {
    font-size: 0.4rem;
  }
  body .footer .redes a {
    font-size: 0.5rem;
  }
  body .footer-contacto {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  body .footer-contacto .logo-contacto {
    height: 70px;
    width: 70px;
    margin: 2rem 1.5rem;
  }
  body .footer-contacto .informacion-b {
    width: 150px;
  }
  body .footer-contacto .informacion-b h2,
  body .footer-contacto .informacion-b h3 {
    font-size: 0.5rem;
  }
  body .footer-contacto .redes-contacto {
    justify-content: space-between;
    margin-bottom: 0;
  }
  body .footer-contacto .redes-contacto h2 {
    font-size: 0.4rem;
  }
  body .footer-contacto .redes-contacto a {
    font-size: 0.5rem;
  }
}
@media (min-width: 600px) and (max-width: 960px) {
  body .navbar {
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  body .navbar .logo {
    margin-right: 1rem;
  }
  body .navbar .social,
  body .navbar .social-b {
    display: none;
  }
  body .hero {
    display: flex;
    width: 100%;
  }
  body .hero .info-content {
    margin: auto;
  }
  body #noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #noticias .noticia-1,
  body #noticias .noticia-2,
  body #noticias .noticia-3 {
    margin-top: 2rem;
  }
  body #publicidad {
    width: 100%;
    margin-top: 100rem;
    display: flex;
    flex-direction: column;
  }
  body #publicidad .video {
    display: none;
  }
  body #publicidad .sponsors {
    padding: 0;
    align-items: center;
  }
  body #publicidad .sponsors .sponsors-img {
    display: flex;
    margin-bottom: 3rem;
  }
  body #publicidad .sponsors .sponsors-img img {
    width: 8rem;
    height: 6rem;
  }
}/*# sourceMappingURL=styles.css.map */